#timer {
	border:1px solid #9ea3e3;
	background:#e5e0ff;
	min-height:38px;
}
#timer #timer-mins,#timer #timer-hours {
	font-size:20px;
}
#timer #timer-secs {
	font-size:15px;
}
#timer #timer-task {
	font-size:20px;
	font-weight:bold;
	line-height:18px;
}
#timer-total {
	float:right;
	padding: 0 3px;
	background-color:#cac9ff;
	border-left:1px solid #9ea3e3;
	border-bottom:1px solid #9ea3e3;
}

#tabs {
	list-style: none;
	margin:10px 0 0 0;
	padding: 0;
	line-height: 24px;
	position: relative;
}

#tabs:after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #aaa;
	z-index: 1;
}
#tabs li {
	display: inline-block;
	border:1px solid #aaa;
	border-bottom: 0px;
	padding:5px 5px 0 5px;
	border-radius: 3px 3px 0 0;
	position: relative;
	background-color: #fff;
}
#tabs li.active {
	/*border-bottom: 2px solid #fff;*/
	z-index: 10;
}
#tabs li a {
	text-decoration: none;
}
#recurring-task-list {
	display: none;
}

.task-list {
	list-style:none;
	margin:0;
	padding:0;
	background-color: #fff;
	height: 300px;
	overflow: auto;
	z-index:-5;
}
.task-list li {
	font-size:110%;
	line-height: 40px;
}
.task-list li span {
	display: inline;
}
.task-list li:nth-child(even) {
	background-color: #eee;
}
.task-list li:hover {
	background:#ddd;
	cursor:pointer;
}
.task-list li.working:hover {
	background:#0f0;
}
.task-list li input {
	margin: 0 5px 0 10px;
	transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
#recurring-task-list.task-list li input {
	display: none;
}
#recurring-task-list.task-list li {
	padding-left: 5px;
}

.status-paused {
	background:#b7aeff !important;
}
.task-list li.working {
	/*font-weight: bold;*/
	/*font-size: 3.7vw;*/
	/*line-height: 25px;*/
	background:#0f0 !important;
}
.paused {
	background:#008183 !important;
}

#add-task-form {
	display:none;
	/*margin-top: -96px;*/
	z-index: 101;
}

#name {
	width:100%;
}

#progress {
	background-color:#9ea3e3;
	height:100%;
	width:0;
	position: absolute;
	top:0;
	left: 0;
	z-index: -10;
}

/* Override Layout styles */
body {
	margin:5px;
}
