#add-task-form {
	display:none;
}
#timer {
	border:1px solid #9ea3e3;
	background:#e5e0ff;
	min-height:38px;
}
#timer #timer-mins,#timer #timer-hours {
	font-size:20px;
}
#timer #timer-secs {
	font-size:15px;
}
#timer #timer-task {
	font-size:20px;
	font-weight:bold;
	line-height:18px;
}
#timer-total {
	float:right;
	background-color:#cac9ff;
	border:1px solid #9ea3e3;
}

.task-list {
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
.task-list li:hover {
	background:#ddd;
	cursor:pointer;
}
.task-list li.working:hover {
	background:#0f0;
}
.task-list li input {
	padding: 5px 5px 0 0;
}

.status-paused {
	background:#b7aeff;
}
.working {
	background:#0f0;
}
.paused {
	background:#008183;
}

#tabs {
	list-style: none;
	margin:10px 0 0 0;
	padding: 0;
	border-bottom:1px solid #000;
}
#tabs li {
	display: inline;
	border:1px solid #000;
	border-bottom: 0px;
	padding:5px 5px 0 5px;
	border-radius: 3px 3px 0 0;
}
#tabs li.active {
	border-bottom: 2px solid #fff;
}
#recurring-task-list {
	display: none;
}


/* Override Layout styles */
body {
	margin:5px;
}
